
@{
    ViewBag.Title = "Reset";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="offset-2">Reset your password</h2>

    <div class="d-flex justify-content-center">
        <form id="reset-pwd-form" class="pt-5 mt-2 ml-1 form-group" style=" background-color: white;">
            <input type="email" class="form-control" id="reset-pwd-email" data-form="reset-pwd" style="width: 15rem" data-field="email" required />
            <div class="offset-4 mt-3">
                <button type="submit" class="btn btn-outline-info" id="reset-pwd-submit"> Reset Password!</button>
            </div>
        </form>
    </div>


