
@{
    ViewBag.Title = RecipesMVC.Resources.AppCulture._404title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <div>
            <h1 class="text-center">
                @RecipesMVC.Resources.AppCulture._404title
            </h1>
            <p class="text-center">
                @RecipesMVC.Resources.AppCulture._404content
            </p>
            <p>
                <a href="javascript:history.back()" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </a>
            </p>
        </div>
    </div>

