
@{
    ViewBag.Title = RecipesMVC.Resources.AppCulture._403title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div>
        <h1 class="text-center">
            @RecipesMVC.Resources.AppCulture._403title
        </h1>
        <p class="text-center">
            @RecipesMVC.Resources.AppCulture._403content
        </p>
        <p>
            <a href="javascript:history.back()" class="btn btn-info btn-lg">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </a>
        </p>
    </div>
</div>